environment: development

database:
  driver: cockroachdb
  partition: true
  uri: postgres://root@localhost:26257/defaultdb

redis:
  uri: redis://localhost:6379/0

rss3_chain:
  endpoint_l1: https://rpc.ankr.com/eth_sepolia
  endpoint_l2: https://rpc.testnet.rss3.io
  block_threads_l1: 20

epoch:
  wallet_private_key:
  gas_limit: 3000000

name_service:
  ens:
    endpoint: https://rpc.ankr.com/eth
  csb:
    endpoint: https://rpc.crossbell.io
  lens:
    endpoint: https://rpc.ankr.com/polygon
  fc:
    endpoint: https://nemes.farcaster.xyz:2281
    api_key:
